*{
    margin:0px;
    padding:0px;
}
li{
    font: 15pt italic arial;
    display: flex;
    flex-direction: row;
    padding-top:120px;
    padding-left:10px;
}
header{
    background-color:#cbf;
    display: flex;
    flex-direction: column;
    position:fixed;
    height:695px;
    width:80px;

}
main{
    background-image:url(img/logo.jpg);
    /* background-position: center; */
    background-position: center;
    background-repeat: no-repeat;  
    width:500px;
    height:400px;
    background-color:pink;
    position: absolute;
    right: 100px;
    top:200px;
}
article{
    width:400px;
    position: absolute;
    left:150px;
    top:200px;
}