*{
    margin:0px;
    padding:0px;
}
li{
    font: 15pt italic arial;
    display: flex;
    flex-direction: row;
    padding-top:120px;
    padding-left:10px;
}
header{
    background-color:blue;
    display: flex;
    flex-direction: column;
    position:fixed;
    height:695px;
    width:80px;

}
main{
    width:900px;
    height:200px;
    background-color:pink;
    position: absolute;
    right: 100px;
    top:200px;
}