*{
    margin:0px;
    padding:0px;
}
body{
   background-color: #3a3a3a;
   color:#fff;
}

li{
    font: 15pt italic arial;
    display: flex;
    flex-direction: row;
    padding-top:120px;
    padding-left:8px;
}
li:hover{
    opacity:0.3;
}
/* Menu lateral */
header{
    background-color:#3a3a3a;
    color:#fff;
    display: flex;
    flex-direction: column;
    position:fixed;
    height:695px;
    width:80px;
    animation:slide;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}
@keyframes slide {
    from{
        transform: translateX(-100px);
    }
    to{
        transform:translateX(0px);
    }
}
/* --------------------------------- */

/* Imagem da logo */
main{
    background-image:url(img/logo.jpg);
    /* background-position: center; */
    background-position: center;
    background-repeat: no-repeat;  
    width:500px;
    height:400px;
    background-color:pink;
    position: absolute;
    right: 100px;
    top:200px;
    border-radius: 10px;
    animation:direita;
    animation-duration:4s;
    animation-fill-mode:forwards;
}
@keyframes direita{
    from{
        transform:translateY(-500px)
    }
    to{

    }
}

/* ---------------------------------- */
article{
    width:500px;
    height: 300px;
    position: absolute;
    left:150px;
    top:200px;
}