@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    background-image: url(img/montanha-nova.jpg);
    background-repeat: no-repeat;
    /* background-size: 100%;   ---- essa propriedade deixa 100% da página que está sendo visualizada, quando diminui ela fica ruim */
    background-size: 100vw 100vh;
    padding: 0px;
    margin: 0px;
}

#txt-tela {  /* H1 */
    animation: slide;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    from {
        transform: translateX(-150%);
    }

    to {
        transform: translateX(-0%);
    }
}

div {
    /*height:50vh;*/
    background-color: hsla(10, 100%, 100%, 0.4);
    border-radius: 30px;
    box-shadow: 1px 1px 15px hsl(0, 100%, 0%);
    width: 400px;
    height: 350px;
    padding-bottom: 20px;
    /* border: solid 1px black; */
    /* margin: auto; */
    position: absolute;
    right: 70px;
    top: 90px;
    text-align: center;
    animation: slides;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes slides {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

img {
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 60px;
    left: 90px;
}

#img2 {
    border: none;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 60px;
    left: 180px;
}


article {
    margin: 0px;
    padding: 0px;
    color: hsla(60, 100%, 100%, 0.8);
    width: 600px;
    height: 100px;
    font: italic 35pt helvetica;
    position: absolute;
    left: 160px;
    top: 30px;
}

#email,
#senha {
    border-radius: 3px;
    border:solid 1px #ccc;
    outline:0;
    padding:10px;
}

#confirmar {
    width:80px;
    font: normal 13pt arial;
    border: solid 1px black;
    border-radius: 30px;
    transition:all ease-in 0.3s;
}
#confirmar:hover{
    background-color:rgb(104, 103, 103) ;
}
input{
    width:250px;
    margin: auto;
}

p {
    display:grid;
     font-size: 18pt;
     font-family: 'Rubik';
 
}

#numb {
    border-radius: 10px;
}


footer {
    color: white;
    font: italic 20pt san-serif;
    position: absolute;
    bottom: 5%;
    left: 35%;
}